{% extends 'base.html' %}
{% block head%}
<style type="text/css">
    table {
        margin: 0 auto;
        text-align: center;
        border-collapse: collapse;
        border: 1px solid #d4d4d4;
        font-size: 20px;
        background: #fff;
    }

    table th,
    table tr:nth-child(2n+2) {
        background: #e7e7e7;
    }

    table th,
    table td {
        padding: 20px 50px;
    }

    table th {
        border-bottom: 1px solid #d4d4d4;
    }
</style>
{% endblock %}
{% block body %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo" /><a style="color: #4e3914;">
                <h3>Waste Management</h3>
            </a>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">
                        Upload
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/graphs">
                        Admin Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br>
<h4 class="text-center">WELCOME TO THE PORTAL</h4>
<hr width="50%">
<div class="row" style="padding-left: 25%; margin-top: 2%;">

    <div class="col-lg-8 mb-4 contact-left">

        <form name="sentMessage" id="contactForm" action="">

            <table>
                <tbody>
                    <tr class="">
                        <td>Employee Name: </td>
                        <td>{{name}}</td>
                    </tr>
                    <tr class="">
                        <td>Employee Type:</td>
                        <td>
                            {{type}}
                        </td>
                    </tr>
                    <tr class="">
                        <td>Employee Id</td>
                        <td>
                            {{id}}
                        </td>
                    </tr>

                </tbody>
            </table>

            <hr><br>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton" onclick="">Sign Out</button>
        </form>

    </div>
</div>
{% endblock %}
