<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Team Binary</title>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}} " rel="stylesheet">
  <!-- Fontawesome CSS -->
  <link href="{{ url_for('static', filename='css/all.css')}} " rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css')}} " rel="stylesheet">

    {% block head %}
    {% endblock %}
</head>

<body>
    <!-- Navigation -->
      <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top" style="box-shadow: 10px 10px 5px grey;">
        <div class="container">
            <a class="navbar-brand" href="/index">
            <img src="{{ url_for('static', filename='images/logo.png')}} " alt="logo" /><a style="color: black;"><h3>Waste Management</h3></a>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link " href="/index">Home</a>
                  </li>

                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Login
                     </a>
                     <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                        <a class="dropdown-item" href="/admin">Admin</a>
                        <a class="dropdown-item" href="/manager">Manager</a>
                     </div>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/upload">
                     Upload
                     </a>

                  </li>
             <li class="nav-item">
                      <a class="nav-link" href="/reports">
                     reports
                     </a>

                  </li>
                               <li class="nav-item">
                      <a class="nav-link" href="/graphs">
                     Graphs
                     </a>

                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="/contact">Contact</a>
                  </li>
               </ul>
            </div>
        </div>
    </nav>


    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        <!-- flash() should contain category in "primary", "danger", "warning" -->
            {% if messages %}
                {% for category,message in messages%}
                    <div class="alert alert-{{ category }} alert-dismissible text-center">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    {% block body %}
    <!--Main contents-->
    {% endblock %}

     <!--footer starts from here-->
    <footer class="footer" >
        <div class="container">
            <div class="footer-logo">
        <a href="#"><img src="{{ url_for('static', filename='images/footer-logo.png')}}" alt="" /></a>
      </div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2020 <a href="#">Team Binary</a>
            </p>
            <ul class="social_footer_ul">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- Contact form JavaScript -->
<script src="{{ url_for('static', filename='js/jqBootstrapValidation.js')}}"></script>
<script src="{{ url_for('static', filename='js/contact_me.js')}}"></script>
</body>
</html>
