<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}} " rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link href="{{ url_for('static', filename='css/all.css')}} " rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/style.css')}} " rel="stylesheet">
    
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png')}}" type="image/icon type">

    {% block head %}
    {% endblock %}
</head>

<body>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
        <!-- flash() should contain category in "primary", "danger", "warning" -->
        {% if messages %}
        {% for category,message in messages%}
        <div class="alert alert-{{ category }} alert-dismissible text-center">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    {% block body %}
    <!--Main contents-->
    {% endblock %}

    <!--footer starts from here-->
    <br>
    <footer class="footer">
        <div class="container">
            <div class="footer-logo">
                <a href="#"><img src="{{ url_for('static', filename='images/footer-logo.png')}}" alt="" /></a>
            </div>
            <!--foote_bottom_ul_amrc ends here-->
            <p class="copyright text-center">All Rights Reserved. &copy; 2020 <a href="#">Team Binary</a>
            </p>
            <ul class="social_footer_ul">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <!--social_footer_ul ends here-->
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>
