{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row py-4">
        <div class="col-md-6 border-right">
            <h1 class="my-4">About us</h1>
            <h4 class="my-4">"The only way to discover the limits of the possible is to go beyond them into the
                impossible."</h4>
            <p class="my-4">At 773kg per head, the country generates 12% of global MSW,
                approximately 239 million tonnes,
                while only accounting for 4% of the world's population.
                Availability of drone helps
                the municipal coorporation
                to keep track of waste.Automatic report
                and waste management within 24 hours.
            </p>
        </div>
        <div class="col-md-6" style="width:40%; height:300px; float:left;">
            <img class="img-fluid my-4" src="../static/image/column.jpg" alt="Index_Image">
        </div>
    </div>
</div>

{% endblock %}