{% extends 'base.html' %}

{% block head %}
<title>Upload - Waste Management</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center text-primary"><b>Upload</b></div>
            <div class="card-body">
                {% if filename %}
                <img src="/static/uploads/{{ filename }}" alt="Image" class="img-fluid">
                {% endif %}
                {% if label %}
                <div class="alert alert-dark">
                    <b>Image Waste Type</b>: {{ label }}
                </div>
                <p><small>Image waste type represents the type of waste image contains. It can be "Low", "Medium" or "High".</small></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}