{% extends 'base.html' %}

{% block head %}
<title>Upload - Waste Management</title>
<script src="/static/js/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center text-primary"><b>Upload</b></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group text-center">
                        <label for="location">Click the button to allow location -></label>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="getLocation()">Click
                            Here</button>
                        <br>
                        <p class="small text-danger" id="location-info"></p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input type="text" id="longitude" name="longitude" class="form-control form-control-sm" readonly
                                    placeholder="Click on button to record location">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input type="text" id="latitude" name="latitude" class="form-control form-control-sm" readonly
                                    placeholder="Click on button to record location">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload image of waste</label>
                        <input type="file" name="image" id="image" class="form-control-file" onchange="validateImage()">
                    </div>
                    <hr>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    var msg=document.getElementById("location-info");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);
        }
        else { msg.innerHTML = "Geolocation is not supported by this browser."; }
    }

    function showPosition(position) {
        console.log("Show position");
        var lat = position.coords.latitude;
        var lon = position.coords.longitude;

        document.getElementById("longitude").value = "position.coords.longitude";
        document.getElementById("latitude").value = position.coords.latitude;

        // var latlon = new google.maps.LatLng(lat, lon)
        // var mapholder = document.getElementById('mapholder')
        // mapholder.style.height = '250pmsg';
        // mapholder.style.width = '100%';

        // var mapOptions = {
        //     center: latlon, zoom: 14,
        //     mapTypeId: google.maps.MapTypeId.ROADMAP,
        //     mapTypeControl: false,
        //     navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
        // };

        // var map = new google.maps.Map(document.getElementById("mapholder"), mapOptions);
        // var marker = new google.maps.Marker({ position: latlon, map: map, title: "You are here!" });

        // msg.innerHTML = "Map location updated!!!";
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                msg.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                msg.innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                msg.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                msg.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>
{% endblock %}