{% extends 'base.html' %}

{% block head %}
<title>Upload - Waste Management</title>
{% endblock %}

{% block body %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light top-nav fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/index">
            <img src="{{ url_for('static', filename='images/logo.png')}}" alt="logo" /><a style="color: #4e3914;">
                <h3>Waste Management</h3>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                     <a class="nav-link " href="/index">Home</a>
                  </li>
		       <li class="nav-item">
                      <a class="nav-link active" href="/upload">
                     Upload
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/login">Login</a>
                  </li>
                  
               </ul>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <br>
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center text-success"><b>Upload</b></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" class="form-horizontal">
                    <div class="form-group text-center">
                        <label for="location">Click the button to allow location -></label>
                        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="getLocation()">Allow
                            Location Access</button>
                        <br>
                        <p class="small text-danger" id="location-info"></p>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="latitude">Latitude</label>
                                <input type="text" id="latitude" name="latitude" class="form-control form-control-sm"
                                    readonly placeholder="Click on 'Allow' button above">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="longitude">Longitude</label>
                                <input type="text" id="longitude" name="longitude" class="form-control form-control-sm"
                                    readonly placeholder="Click on 'Allow' button above">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="form-text"><b>Address: </b><span id="address"><i class="text-muted">Address will
                                    appear here.</i></span></p>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload image of waste</label>
                        <input type="file" name="image" id="image" class="form-control-file" required>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button class="btn btn-sm btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    var msg = document.getElementById("location-info");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError, { enableHighAccuracy: true });
        }
        else { msg.innerHTML = "Geolocation is not supported by this browser."; }
    }

    function showPosition(position) {
        // console.log("Show position", position.coords);

        var lat = position.coords.latitude;
        var lng = position.coords.longitude;

        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;

        // Get address from latlng
        var addressLink = "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + lng + "&location_type=APPROXIMATE&key=AIzaSyBIZzJADy9kDwosxnQrILpgK00dZvIPgYM";

        // console.log("Link",addressLink);


        fetch(addressLink)
            .then(response => response.json())
            .then(data => {
                // console.log(data);
                if (data.status == "OK") {
                    var address = data.results[0].address_components[0].long_name + ", " +
                        data.results[0].address_components[1].long_name + ", " +
                        data.results[0].address_components[2].long_name + ", " +
                        data.results[0].address_components[3].long_name + " " +
                        data.results[0].address_components[4].long_name;
                    document.getElementById("address").innerText = address;
                }
            });
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                msg.innerHTML = "You denied the request for Geolocation. Please allow it!"
                break;
            case error.POSITION_UNAVAILABLE:
                msg.innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                msg.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                msg.innerHTML = "An unknown error occurred."
                break;
        }
    }
</script>
{% endblock %}
