{% extends 'base.html' %}

{% block head %}
<title>Welcome - Waste Management</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row py-2">
        <div class="col-md-9">
            <h3>Welcome to Geo Tracking Software</h3>
            <p>This is an AI based drone software for geo tracking of wastes. The solution software takes an image
                captured by drone or a vehicle and location of image as input and perform the following task:</p>
            <ul>
                <li>Detect if there is waste in the image and classify if its high waste or low waste.</li>
                <li>Tag the image with its location and update the database with waste quality, location, date and timing
                of the image.</li>
                <li>Send an alert to the nearest waste management Government officer for quick action.</li>
                <li>Create a map visualization for detecting areas with high waste. The visualisation varied with time
                would also be provided</li>
            </ul>
        </div>
        <div class="col-md-3">
            <br><br>
            <a href="/upload" title="Go to Login Page" class="btn btn-block btn-large btn-secondary">Upload Image</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Team Members</h5>
            <ul>
                <li>Mansee Agrawal (leader)</li>
                <li>Anjali Nayak</li>
                <li>Harshika Urkude</li>
                <li>Prashant Jha</li>
                <li>Snigdha Singh</li>
                <li>Vinod Kumar Gupta</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h5>Technology Stack</h5>
            <ul>
                <li>MySQL</li>
                <li>Python with Flask</li>
                <li>Bootstrap 4.4</li>
                <li>Google Maps API</li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <!-- <div class="col-md-4">
            <img src="/static/images/column.jpg" class="img-fluid img-circle mb-2" height="50" width="200">
        </div> -->
        <div class="col-md-8">
            <p class="text-center">
                At 773kg per head, the country generates 12% of global MSW, approximately 239 million tonnes,
                while only accounting for 4% of the world's population.
                Availability of drone helps the municipal coorporation to keep track of waste.Automatic report
                and waste management within 24 hours.
            </p>
            <div class="alert alert-secondary">
                <b>"The only way to discover the limits of the possible is to go beyond them into the
                    impossible."</b>
            </div>
        </div>
    </div>
</div>

{% endblock %}