{% extends 'base.html' %}

{% block head %}
<title>Upload - Waste Management</title>
<script src="/static/js/jquery-3.3.1.min.js"></script>
{% endblock %}

{% block body %}

<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center text-primary"><b>Upload</b></div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="location">Click the button to allow location -></label>
                        <button type="button" class="btn btn-sm btn-secondary">Click Here</button>
                    </div>
                    <div class="form-group">
                        <label for="place">Select Location</label>
                        <select class="form-control form-control-sm" name="place" id="place">
                            <option>-SELECT-</option>
                            <option value="Ranjhi">Ranjhi</option>
                            <option value="Gol Bazar">Gol Bazar</option>
                            <option value="Sadar">Sadar</option>
                            <option value="Ghamapur">Ghamapur</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Upload image of waste</label>
                        <input type="file" name="image" id="image" class="form-control-file" onchange="validateImage()">
                    </div>
                    <hr>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
                    </div>
                </form>
                <div id="ajaxElement"></div>
            </div>
        </div>
    </div>
</div>

<script>
    $.get(
        url= "/api/json",
        success = function(jsonRes) {
            console.log(jsonRes)
            var response = JSON.parse(jsonRes);
            var data = response.data;
            console.log(response,data);
            var ajaxEle = document.getElementById('ajaxElement');
            ajaxEle.innerHTML = data;
        }
    )
</script>
{% endblock %}