{% extends 'base.html' %}

{% block head %}
<title>Upload - Waste Management</title>
{% endblock %}

{% block body %}

<div class="container">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header text-center text-primary"><b>Upload</b></div>
            <div class="card-body">
                <form action="/submit" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="location">Click the button to allow location.</label>
                        <button class="btn btn-sm btn-light" onclick="getLocation(event)">Click Here</button>
                    </div>
                    <div class="form-group">
                        <label for="location">Select Location</label>
                        <select class="form-control form-control-sm" name="menu" id="state">
                            <option>SELECT</option>
                            <option value="Ranjhi">Ranjhi</option>
                            <option value="Gol Bazar">Gol Bazar</option>
                            <option value="Sadar">Sadar</option>
                            <option value="Ghamapur">Ghamapur</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fileToUpload">Upload image</label>
                        <input type="file" name="fileToUpload" id="fileToUpload" class="form-control-file">
                    </div>
                    <hr>
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" onclick="return myFunction()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var x;
    var y;

    function getLocation(event) {
        event.preventDefault();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        }
    }

    function showPosition(position) {
        x = position.coords.latitude;
        y = position.coords.longitude;
        alert(x + "," + y);
    }

    function myFunction() {
        alert("Image Uploaded successfully!");
    }
    
  </script>

{% endblock %}