{% extends 'base.html' %}

{% block head %}
<title>View - Waste Management</title>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyBIZzJADy9kDwosxnQrILpgK00dZvIPgYM"></script>

{% endblock %}

{% block body %}
<div class="container">
    <h4>Map View of today</h4>
    <div class="badge badge-light mx-2">
        <img src="{{url_for('static',filename='images/red.png')}}" style="width: 20px; height: 20px;">
        High Waste
    </div>
    <div class="badge badge-light mx-2">
        <img src="{{url_for('static',filename='images/blue.png')}}" style="width: 20px; height: 20px;">
        Medium Waste
    </div>
    <div class="badge badge-light mx-2">
        <img src="{{url_for('static',filename='images/orange.png')}}" style="width: 20px; height: 20px;">
        Low
        Waste
    </div>
    <div class="badge badge-light mx-2">
        <img src="{{url_for('static',filename='images/purple.png')}}" style="width: 20px; height: 20px;">
        Not Resolved in 24 Hour
    </div>
    <div class="badge badge-light mx-2">
        <img src="{{url_for('static',filename='images/green.png')}}" style="width: 20px; height: 20px;">
        Resolved in 24 Hour
    </div>
    <a href="/week" class="btn btn-link">Previous week map</a>
    <a href="/piechart" class="btn btn-link">View PieChart</a>

    <br>

    <div id="mapHolder" class="border-primary"></div>

</div>

<script>

    var mapholder = document.getElementById('mapHolder');

    var lat = 23.112575;
    var lon = 79.983259;
    var latlon = new google.maps.LatLng(lat, lon)

    mapholder.style.height = '400px';
    mapholder.style.width = '100%';
    var myOptions = {
        center: latlon, zoom: 14,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
    };

    var map = new google.maps.Map(document.getElementById('mapHolder'), myOptions);
    var marker = new google.maps.Marker({ position: latlon, map: map, title: "You are here!" });

    var iconBase =
        'http://maps.google.com/mapfiles/ms/icons/';

    var icons = {
        parking: {
            icon: iconBase + 'green-dot.png'
        },
        library: {
            icon: iconBase + 'library_maps.png'
        },
        info: {
            icon: iconBase + 'info-i_maps.png'
        }
    };

    var features = [
        {
            position: new google.maps.LatLng(23.91721, 79.98630),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11539, 79.98820),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11747, 79.98912),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11910, 79.98907),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11725, 79.23011),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11872, 79.23089),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11784, 79.23094),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11682, 79.23149),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11790, 79.23463),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11666, 79.23468),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.116988, 79.983640),
            type: 'info'
        }, {
            position: new google.maps.LatLng(23.11662347903106, 79.98879464019775),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.116365282092855, 79.98937399734496),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.11665018901448, 79.9882474695587),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.119543720969806, 79.98112279762267),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.11608037421864, 79.98288982673644),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.11851096311805, 79.9844058214569),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.11818154739766, 79.9846203981781),
            type: 'parking'
        }, {
            position: new google.maps.LatLng(23.11727341958453, 79.98348314155578),
            type: 'library'
        }
    ];

    // Create markers.
    for (var i = 0; i < features.length; i++) {
        var marker = new google.maps.Marker({
            position: features[i].position,
            icon: icons[features[i].type].icon,
            map: map
        });
    };

</script>

{% endblock %}